*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

:root{
  --contrast: #072A40;
  --primary: #F9F7F0;
  --secondary: #178CA4;
  --complementary: #18B7BE
}

@font-face {
  font-family: Monserrat;
  src: url('./static/Montserrat-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: Monserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 1024px; */
}

